<!DOCTYPE html>
<html>

<head>
  <title>Huli</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Huli</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admins">Home</a></li>
    </ul>
  </div>
</nav>
    <div class="formwrapper">
        <center>
            <h1>Edit Team</h1>
                <%= form_for @team do |p| %>
                    <%= p.file_field :image, required: true %>
                <div class="form-inputs">
                    <%= p.label :name %><br />
                    <%= p.text_field :name, autofocus: true, class:"form-controll", required: true%>
                </div>
                <div class="form-inputs">
                <%= p.label "Team Apprentices" %>
                <%= p.collection_select :apprentice_ids, Apprentice.all, :id, :name, {}, {multiple: true} %>
                <div class="form-inputs">
                <%= p.label "Team Projects" %>
                <%= p.collection_select :project_ids, Project.all, :id, :title, {}, {multiple: true} %>
                </div>
            <div class="form-actions">
                <div class="form-actions">
                    <%= p.submit "Edit" %>
                </div>
                <% end %>
            </div>
        </center>
    </div>
</body>
</html>